.flexContainer{
    border: 2px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.flexItem{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 80px;
    text-align: center;
    align-content: center;
}

.flexContainer2{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.flexItem2{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 25px;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 1480px;
}

.flexContainer3{
    border: 2px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.flexItem3{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 80px;
    text-align: center;
    align-content: center;
}

.flexContainer4{
    border: 2px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}
.flexItem4{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 80px;
    text-align: center;
    align-content: center;
}

.flexContainer5{
    border: 2px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.flexItem5{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 80px;
    text-align: center;
    align-content: center;
}

.flexItem5:nth-child(2){
    height: 100px;
    align-content: top;
}

.flexContainer6{
    border: 2px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap ;

}
.flexItem6{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 150px;
    text-align: center;
    align-content: center;
}

.flexContainer7{
    border: 2px solid black;
    display: flex;
    gap: 60px;
    padding: 10px;
    align-items: center;
    

}
.flexItem7{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 120px;
    width: 80px;
    text-align: center;
    align-content: center;
}

.flexContainer8{
    border: 2px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.flexItem8{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 1000px;
    text-align: center;
    align-content: center;
}

.flexItem8:nth-child(3){
    width: 60px;
}

.flexContainer9{
    border: 1px solid black;
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 200px;
}
.flexItem9{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 80px;
    text-align: center;
    align-content: center;
}