<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(223, 223, 223);
}
#d{
    padding: 5px 450px;
    border: 3px solid red;
}
#p{
    background-color: blue;
    padding:  30px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

.container{
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    height: 1200px;
}

#q1{
    padding: 50px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: rgb(218,237,237);
}

#q2{
    padding: 50px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: rgb(218,237,237);
}

#b{
    padding: 20px;
    background-color: khaki;
    margin-right: 750px;
    margin-top: 10px;
    border: 6px solid blueviolet;
=======
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(223, 223, 223);
}
#d{
    padding: 5px 450px;
    border: 3px solid red;
}
#p{
    background-color: blue;
    padding:  30px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

.container{
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    height: 1200px;
}

#q1{
    padding: 50px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: rgb(218,237,237);
}

#q2{
    padding: 50px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: rgb(218,237,237);
}

#b{
    padding: 20px;
    background-color: khaki;
    margin-right: 750px;
    margin-top: 10px;
    border: 6px solid blueviolet;
>>>>>>> 14b6824 (Day 3)
}