/*h1{
    color:yellow;
    border: 1px solid red;
}
/* 1.Universal selector */
/* *{
    border:1px solid red;
}*/

/*tag selector*/

/*h1{
    background-color: green;
}

/*id Selector*/

/*#a{
    color: red;
    background-color: yellow;
}

/*class selctor*/
/*.b{
    color: blue;
    border: 10px solid;
}

/* Group selector*/
/*h1,h2{
    color: blueviolet;
}

/*Descent selector*/
/*div p{
    color: red;
    background-color: yellow;
}

/*Child selctor*/
/*div > p{
    color: green;
    background-color: blue;
}

/*attribute selector*/
/*button[type="submit"]{
    color: red;
    font-size: 32px;
}

button[type="reset"]{
    color: greenyellow;
    font-size: 32px;
}

/* pseudo classes*/
/*li:nth-child(2){
    color: red;
    font-size: 24px;
}

li:nth-child(2):hover{
    color: yellow;
    background-color: red;
    font-size: 38px;
}

li:hover{
    color: yellow;
    background-color: red;
    font-size: 38px;
}

/*pseudo elements::*/
/*#r::before{
    content: "Written by css";
}

.b::first-letter{
    font-size: 48px;
    color: red;
}

#q{
    display:block;
}

#q::first-letter{
    font-size: 48px;
}

#q::first-line{
    color: yellow;
    font-size: 32px;
}*/
*{
    padding: 0;
    margin: 0;
}
/*Box model*/
h1:nth-child(1){
    border: 3px solid red;
    /*padding:30px;*/
    /*padding:10px 20px 40px 60px;*/
    /*padding:20px 80px;
    margin:80px;*/
}